.App {
  text-align: center;
}

.Appchange {
  background-color: red;
  text-align: center;
  position: absolute;
  width: 100%;
}

.title {
  font-family: 'Fredoka One';
  font-size: 100px;
  font-weight: bold;
}

/* .title2 {
  height: 10px;
} */

/* .title1 {
  padding: 10px;
} */

.start {
  padding: 150px;
}

.startB {
  background-color: white;
  border-color: rgba(0, 0, 0, 1);
  border-width: 20px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Fredoka One';
  padding: 50px;
  animation: pulse 2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rbga(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1.0);
    box-shadow: 0 0 0 5 rbga(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
  }
} 

.img {
  position: absolute;
  top: 550px;
  left: 10%;
  height: 15%;
  width: 9%;
  border-radius: 50%;
  border-color: black;
  border-width: 20px;
  cursor: pointer;
  animation: leftdia 0.5s; 
}

@keyframes leftdia {
  0% {
    opacity: 0%;
    transform: translatex(190px) translatey(190px)
  }
  /* 50% {
    opacity: 50%;
    transform: translatex(0px) translatey(0px)
  } */
  100% {
    opacity: 100%;
    transform: translatex(0px) translatey(0px)
  }
}

.imgtop {
  position: absolute;
  top: 450px;
  left: 45%;
  height: 15%;
  width: 10%;
  /* border-radius: 50%; */
  border-color: red;
  border-width: 10px;
  cursor: pointer;
  animation: topdia 2s;
}

@keyframes topdia {
  0% {
    opacity: 0%;
    transform: translatex(0px) translatey(50px)
  }
  /* 50% {
    opacity: 50%;
    transform: translatex(0px) translatey(0px)
  } */
  100% {
    opacity: 100%;
    transform: translatex(0px) translatey(0px)
  }
}

.imgright {
  position: absolute;
  top: 575px;
  right: 10%;
  height: 15%;
  width: 10%;
  border-radius: 50%;
  border-color: red;
  border-width: 10px;
  cursor: pointer;
  animation: rightdia 1.2s;
}

@keyframes rightdia {
  0% {
    opacity: 0%;
    transform: translatex(-70px) translatey(70px)
  }
  /* 50% {
    opacity: 50%;
    transform: translatex(0px) translatey(0px)
  } */
  100% {
    opacity: 100%;
    transform: translatex(0px) translatey(0px)
  }
}

