.App {
  text-align: center;
}

.Appchange {
  background-color: red;
  text-align: center;
  position: absolute;
  width: 100%;
}


.me {
  position: absolute;
  background-color: cyan;
  font-size: 50px;
  border-radius: 50%;
  width: 50%x;
  top: 670px;
  left: 10%;
}

.title1 {
  font-family: 'Fredoka One';
  font-size: 160px;
  font-weight: bold;
  padding-top: 50px;
  /* animation: wiggle 1s infinite; */
}

span:nth-child(2) {
  animation-delay: 5s;
}

@keyframes wiggle {
  0% {
    transform: translate(1px , 2px) rotate(-1deg) ;
  }
  25% {
    transform: translate(3px , 1px) rotate(1deg) ;
  }
  50% {
    transform: translate(2px , 3px) rotate(-1deg) ;
  }
  75%{
    transform: translate(1px , 1px) rotate(0deg) ;
  } 
  100% {
    transform: translate(-2px , 3px) rotate(-2deg) ;
  }
}

.title2 {
  font-family: 'Fredoka One';
  font-size: 50px;
  font-weight: bold;
}

.start {
  padding: 300px;
  
}

.startB {
  background-color: white;
  border-color: rgba(0, 0, 0, 1);
  border-width: 20px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Fredoka One';
  padding: 50px;
  animation: pulse 2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rbga(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1.0);
    box-shadow: 0 0 0 5 rbga(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
  }
} 

.img {
  position: absolute;
  top: 570px;
  left: 10%;
  height: 17%;
  width: 10%;
  border-radius: 50%;
  border-color: black;
  border-width: 20px;
  cursor: pointer;
  animation: leftdia 1.2s; 
}

.imgtext {
  position: absolute;
  font-family: 'Fredoka One';
  top: 750px;
  left: 10.5%;
  font-size: 40px;
}


@keyframes leftdia {
  0% {
    opacity: 0%;
    transform: translatex(190px) translatey(190px)
  }
  /* 50% {
    opacity: 50%;
    transform: translatex(0px) translatey(0px)
  } */
  100% {
    opacity: 100%;
    transform: translatex(0px) translatey(0px)
  }
}

.imgtop {
  position: absolute;
  top: 550px;
  left: 45%;
  height: 15%;
  width: 10%;
  /* border-radius: 50%; */
  border-color: red;
  border-width: 10px;
  cursor: pointer;
  animation: topdia 1.6s;
}

.imgtoptext {
  position: absolute;
  font-family: 'Fredoka One';
  top: 750px;
  left: 46.5%;
  font-size: 40px;
}

@keyframes topdia {
  0% {
    opacity: 0%;
    transform: translatex(0px) translatey(50px)
  }
  /* 50% {
    opacity: 50%;
    transform: translatex(0px) translatey(0px)
  } */
  100% {
    opacity: 100%;
    transform: translatex(0px) translatey(0px)
  }
}

.imgright {
  position: absolute;
  top: 575px;
  right: 10%;
  height: 15%;
  width: 10%;
  border-radius: 50%;
  border-color: red;
  border-width: 10px;
  cursor: pointer;
  animation: rightdia 1.4s;
}
.imgrighttext {
  position: absolute;
  font-family: 'Fredoka One';
  top: 750px;
  right: 13.5%;
  font-size: 40px;
}


@keyframes rightdia {
  0% {
    opacity: 0%;
    transform: translatex(-70px) translatey(70px)
  }
  /* 50% {
    opacity: 50%;
    transform: translatex(0px) translatey(0px)
  } */
  100% {
    opacity: 100%;
    transform: translatex(0px) translatey(0px)
  }
}

